.table_container {
  margin: 0 auto;
  display: block;
  width: 83vw;
  background-color: #f8f8f8;
  padding: 10px;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.stats {
  font-family: "work sans";
  padding-top: 20px;
  align-self: center;
  > h1 {
    font-size: 28px;
    font-weight: 500;
    color: #213f7dd4;
  }
  > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-block: 25px;
    .card {
      min-width: 120px;
      width: 24%;

      h3 {
        font-size: 14px;
        color: grey;
        font-weight: 400;
      }
      h2 {
        color: #21407dd4;
        font-size: 22px;
      }
      padding: 20px;
      background: white;
      border-radius: 5px;
    }
  }
}
.dashboard {
  color: #213f7d;
  border-collapse: collapse;
  margin: 10px auto;
  padding: 20px;
  table-layout: fixed;
  font-family: "work sans";
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  background-color: white;

  tr {
    padding: 0.35em;
    position: relative;
  }

  td {
    padding: 10px 4px;
    border-bottom: 1px solid #ccc;
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 100%;
      max-width: 180px;
      white-space: nowrap;
      padding: 4px 8px;
    }
  }
  td[data-label="status"] {
    span {
      width: max-content;
    }
  }
  td:last-child {
    position: relative;
    flex-direction: row-reverse;
    text-align: center;
    button{
      border: none;
      background: none;
      font-size: 20px;
      font-weight: 400;
      width: 30px;
      height: 30px;
      transition: all .25s linear;
      border-radius: 50%;
      &:hover{
        background-color: #01133729;
        cursor: pointer;
      }
    }
    >div{
      position: absolute;
      top: 0;
      left: -100px;
      z-index: 2;
      display: flex;
      background-color: white;
      border: 4px;
      gap: 3px;
      padding: 10px;
      box-shadow: 0px 0px 10px rgba(216, 214, 214, 0.745);
      a, p{
        display: flex;
        color: #213f7d;
        text-decoration: none;
        align-items: center;
        gap: 10px;
        border-left: 2px solid #ffffff00;
        padding: 5px;
        cursor: pointer;
        border-radius: 2px;
        &:hover{
          transition: all .15s linear;
          background-color: #01133729;
          border-left: 2px solid #001133
        }
      }
    }
  }

  th {
    padding: 10px;
    font-size: 0.85em;
    word-break: keep-all;
    text-transform: uppercase;
    text-align: left;
    img {
      height: 8px;
      width: 9px;
      margin-left: 10px;
    }
  }
}

@media (max-width: 800px) {
  .dashboard {
    border: 0;
    width: 80%;
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      span {
        width: auto;
        max-width: none;
        cursor: pointer;
        margin-top: -3px;
      }
      &::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
        display: block;
        // padding: 40px;
        margin-bottom: 15px;

        b {
          display: none;
        }
        &::before {
          content: attr(data-label);
          text-align: center;
          font-weight: bold;
          text-transform: uppercase;
          width: 100%;
          cursor: pointer;
          padding: 5px;
        }
      }
    }
  }
  .stats {
    width: 80%;
    margin: auto;
    > div {
      .card {
        width: 48%;
      }
    }
  }
}
